/vendor/
node_modules/
npm-debug.log
yarn-error.log
/.idea
# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# compilated files
public/css/app.css
public/js/app.js
public/mix-manifest.json
public/login.js
public/vendors~login.js

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
